<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Feedback</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Feedback.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 6.12.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Feedback">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-0656"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/api/home" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/api/Log-In" style="padding: 10px 20px;">Log In</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/api/home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/api/Log-In">Log In</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-custom-color-1 u-section-1" style="background-color: #292D33; height: 748px;" id="sec-6b76">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-4 u-border-grey-75 u-carousel u-carousel-duration-250 u-carousel-fade u-form u-form-radios-spacing-20 u-radius u-form-1" data-interval="0" data-u-ride="false" id="carousel-9543" style="border-color: #db545a; padding: 20px 20px 20px 20px;" >
          <form action="localhost:5002/app/submit" class="u-clearfix u-form-spacing-4 u-form-vertical u-inner-form"  name="form" style="padding: 0px;" redirect="true" redirect-address="/api/home" method="POST">
            <div class="u-carousel-inner" role="listbox">
              <div class="u-carousel-item u-form-step u-slide u-active">
                <div class="u-form-group u-form-input-layout-vertical u-form-radiobutton u-label-top u-form-group-1">
                  <label class="u-label u-text-palette-1-base u-label-1">Question 1 : This project helps me to understand the Module better. </label>
                  
                  <div class="u-form-radio-button-wrapper" style="padding-top: 10px;">
                    <div class="u-input-row">
                      <input id="field-3e04" type="radio" name="Q1" value="Disagree" class="u-field-input" checked="checked" data-calc="Disagree" required="required">
                      <label class="u-field-label" for="field-3e04">Disagree</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-e0a8" type="radio" name="Q1" value="Neutral" class="u-field-input" data-calc="Neutral" required="required">
                      <label class="u-field-label" for="field-e0a8">Neutral</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-115a" type="radio" name="Q1" value="Agree" class="u-field-input" data-calc="Agree" required="required">
                      <label class="u-field-label" for="field-115a">Agree</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-carousel-item u-form-step u-slide">
                <div class="u-form-group u-form-input-layout-vertical u-form-radiobutton u-label-top u-form-group-2">
                  <label class="u-label u-text-palette-1-base u-label-2">Question 2 : I understand the concepts of ICT2509C</label>
                  <div class="u-form-radio-button-wrapper" style="padding-top: 10px;">
                    <div class="u-input-row">
                      <input id="field-1e23" type="radio" name="Q2" value="Disagree" class="u-field-input" checked="checked" data-calc="Disagree" required="required" >
                      <label class="u-field-label" for="field-1e23">Disagree</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-939c" type="radio" name="Q2" value="Neutral" class="u-field-input" data-calc="Neutral" required="required" >
                      <label class="u-field-label" for="field-939c">Neutral</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-09de" type="radio" name="Q2" value="Agree" class="u-field-input" data-calc="Agree" required="required" >
                      <label class="u-field-label" for="field-09de">Agree</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-carousel-item u-form-step u-slide">
                <div class="u-form-group u-form-input-layout-vertical u-form-radiobutton u-label-top u-form-group-3">
                  <label class="u-label u-text-palette-1-base u-label-3">Question 3: I am looking forward for the next module that coming up</label>
                  <div class="u-form-radio-button-wrapper" style="padding-top: 10px;">
                    <div class="u-input-row">
                      <input id="field-b7fd" type="radio" name="Q3" value="Disagree" class="u-field-input" checked="checked"  data-calc="Disagree">
                      <label class="u-field-label" for="field-b7fd">Disagree</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-aed8" type="radio" name="Q3" value="Neutral" class="u-field-input"  data-calc="Neutral">
                      <label class="u-field-label" for="field-aed8">Neutral</label>
                    </div>
                    <div class="u-input-row">
                      <input id="field-91f0" type="radio" name="Q3" value="Agree" class="u-field-input"  data-calc="Agree">
                      <label class="u-field-label" for="field-91f0">Agree</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-carousel-item u-form-step u-slide u-block-e9f9-31">
                <div class="u-form-group u-form-input-layout-vertical u-label-top u-block-e9f9-29">
                  <label for="text-2733" class="u-label u-text-palette-1-base u-block-e9f9-30">Student_ID :</label>
                  <input type="text" placeholder="" id="text-2733" name="text" class="u-border-grey-75 u-input u-input-rectangle u-radius u-white u-block-e9f9-32" style="margin-top: 10px;">
                  <div style="padding-bottom: 95px;"></div>
                </div>           
              </div>
            <div class="u-form-group u-form-submit u-label-top">
              <a href="#" class="u-btn u-btn-step u-btn-step-prev u-button-style u-hidden">Back</a>
              <a href="#" class="u-btn u-btn-step u-btn-step-next u-button-style">Next</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
              <a class="u-btn u-btn-submit u-button-style u-hidden">Submit</a>
            </div>
            <div class="u-form-send-message u-form-send-success">Feedback Saved</div>
            <div class="u-form-send-error u-form-send-message">Unable to send Feeback</div>
          </form>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-94e2"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">ICT2509C Project By Farhan 2024.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>This site was created with the </span>
        <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
          <span>Nicepage</span>
        </a>
      </p>
    </section>
  
</body></html>