<!DOCTYPE ejs>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>Log In</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="Log-In.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 6.12.10, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": ""
    }
  </script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Log In">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-0656">
    <div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
              xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/api/home" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                href="/api/Log-In" style="padding: 10px 20px;">Log In</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="api/home">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/api/Log-In">Log In</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-palette-5-dark-3 current-section u-block-f6bc-1" custom-posts-hash="[]"
    data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}"
    id="carousel_473a" data-source="functional_fix" data-id="f6bc" style="background-image: none">
    <div class="u-clearfix u-sheet u-valign-top-sm u-block-f6bc-2" data-height-lg="749" data-height-md="634"
      data-height-sm="194" data-height-xs="810.563" style="min-height: 831px">

      <div
        class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-expanded-width u-group u-palette-2-base u-shape-rectangle u-block-control u-block-04d8-14"
        style="background-image: none; height: auto; min-height: 525px; margin-top: 40px; margin-bottom: 40px"
        data-block="223">
        <div style="padding-top: 30px;">
          <div class="u-border-2 u-border-white u-form u-radius u-white u-block-control u-block-04d8-16"
            style="height: 432px; --radius: 27px; box-shadow: 2px -2px 8px 0px rgba(var(--grey-60-r),var(--grey-60-g),var(--grey-60-b),1); background-image: none; margin-top: 0; margin-right: 259px; margin-bottom: 0; margin-left: 289px"
            data-block="224" data-block-type="Form">


            <form action="/api/register" id="registerForm" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
              source="custom" data-services="" name="form" style="padding: 10px;">


              <div class="u-form-email u-form-group u-block-control ui-draggable ui-draggable-handle u-block-04d8-23"
                style="" data-block="225" data-block-type="FormField">
                <label for="message-fcb9" class="u-label u-text-palette-2-base u-block-04d8-24" style="">Email</label>
                <input placeholder="Enter your email" rows="4" cols="50" id="message-fcb9" name="email"
                  class="u-input u-input-rectangle u-radius u-grey-10 u-block-04d8-25" required="required" type="email"
                  style="--radius: 11px">
              </div>
              <div class="u-form-group u-form-name u-block-control ui-draggable ui-draggable-handle u-block-04d8-17"
                style="" data-block="226" data-block-type="FormField">
                <label for="name-fcb9" class="u-label u-text-palette-2-base u-block-04d8-18" style="">Username</label>
                <input type="text" placeholder="Enter your Name" id="name-fcb9" name="username"
                  class="u-input u-input-rectangle u-radius u-grey-10 u-block-04d8-19" required=""
                  style="--radius: 11px">
              </div>
              <div class="u-form-group u-block-control ui-draggable ui-draggable-handle u-block-04d8-20" style=""
                data-block="227" data-block-type="FormField">
                <label for="password" class="u-label u-text-palette-2-base u-block-04d8-21" style="">Password</label>
                <input type="password" id="password" name="password"
                  class="u-input u-input-rectangle u-radius u-grey-10 u-block-04d8-22" required="required"
                  style="--radius: 11px">
              </div>

              <div class="u-form-group u-block-control ui-draggable ui-draggable-handle u-block-04d8-28"
                style="margin-left: 0px;" data-block="228" data-block-type="FormField">
                <label for="password2" class="u-label u-text-palette-2-base u-block-04d8-29" style="">Confirm
                  Password</label>
                <input id="password2" name="password2"
                  class="u-input u-input-rectangle u-radius u-grey-10 u-block-04d8-30" required="required" type="password"
                  style="--radius: 11px" placeholder="Retype your password">
              </div>
              <div class="u-align-center u-form-group u-form-submit u-block-control u-block-04d8-26" style=""
                data-block="229">
                <button type="submit" class="pure-button" style="background-color: rgb(127, 148, 255); border:bisque; border-radius: 5px;">Confirm</button>
              </div>
            </form>
          </div>

          <% if(sqlMessage !==null){ %>
          <h3 style="text-align: center;"> <%= sqlMessage %></h3>
          <% } %>


        </div>
        <style data-mode="XL">
          @media (max-width: 0px) {
            .u-block-f6bc-1 {
              background-image: none
            }

            .u-block-f6bc-2 {
              min-height: 831px
            }

            .u-block-f6bc-14 {
              width: 570px;
              background-image: none;
              left: 0;
              right: auto
            }

            .u-block-f6bc-3 {
              margin-top: 47px;
              margin-right: auto;
              margin-bottom: 47px;
              margin-left: 0
            }

            .u-block-f6bc-4 {
              min-height: 737px
            }

            .u-block-f6bc-5 {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 16px;
              padding-right: 16px
            }

            .u-block-f6bc-18 {
              width: 494px;
              min-height: 677px;
              background-image: none;
              height: auto;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: auto
            }

            .u-block-f6bc-19 {
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-20 {
              width: 97px;
              height: 97px;
              background-image: none;
              margin-top: 31px;
              margin-right: 169px;
              margin-bottom: 0;
              margin-left: auto;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-21 {
              font-weight: 700;
              font-size: 1.875rem;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-22 {
              height: 351px;
              background-image: none;
              width: 410px;
              margin-top: 28px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-25 {
              background-image: none
            }

            .u-block-f6bc-28 {
              background-image: none
            }

            .u-block-f6bc-31 {
              background-image: none;
              border-style: none;
              width: 100%;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-32 {
              align-self: center;
              border-style: none;
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-33 {
              border-style: none;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-8 {
              min-height: 655px
            }

            .u-block-f6bc-9 {
              padding-top: 60px;
              padding-left: 60px;
              padding-right: 60px;
              padding-bottom: 30px
            }

            .u-block-f6bc-15 {
              margin-top: 0;
              margin-bottom: 0;
              font-family: Anton;
              font-size: 4.5rem
            }

            .u-block-f6bc-16 {
              margin-top: 26px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }

            .u-block-f6bc-17 {
              background-image: none;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 0.875rem;
              letter-spacing: 3px;
              margin-top: 20px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }
          }
        </style>
        <style data-mode="LG">
          @media (max-width: 0px) {
            .u-block-f6bc-1 {
              background-image: none
            }

            .u-block-f6bc-2 {
              min-height: 716px
            }

            .u-block-f6bc-14 {
              background-image: none;
              width: 470px;
              left: 0;
              right: auto
            }

            .u-block-f6bc-3 {
              margin-top: 47px;
              margin-bottom: 47px
            }

            .u-block-f6bc-4 {
              min-height: 608px
            }

            .u-block-f6bc-5 {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 16px;
              padding-right: 16px
            }

            .u-block-f6bc-18 {
              background-image: none;
              width: 438px;
              min-height: 677px;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: auto
            }

            .u-block-f6bc-19 {
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-20 {
              background-image: none;
              width: 97px;
              height: 97px;
              margin-top: 31px;
              margin-left: auto;
              margin-right: 148px;
              margin-bottom: 0;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-21 {
              font-weight: 700;
              font-size: 1.875rem;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-22 {
              background-image: none;
              height: 351px;
              width: 442px;
              margin-top: 28px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-25 {
              background-image: none
            }

            .u-block-f6bc-28 {
              background-image: none
            }

            .u-block-f6bc-31 {
              background-image: none;
              border-style: none;
              width: 100%;
              padding-top: 10px;
              padding-right: 0;
              padding-bottom: 10px;
              padding-left: 0
            }

            .u-block-f6bc-32 {
              align-self: center;
              border-style: none;
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-33 {
              border-style: none;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-8 {
              min-height: 540px
            }

            .u-block-f6bc-9 {
              padding-top: 60px;
              padding-left: 60px;
              padding-right: 60px;
              padding-bottom: 30px
            }

            .u-block-f6bc-15 {
              margin-top: 0;
              margin-bottom: 0;
              font-family: Anton;
              font-size: 4.5rem
            }

            .u-block-f6bc-16 {
              margin-top: 26px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }

            .u-block-f6bc-17 {
              background-image: none;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 0.875rem;
              letter-spacing: 3px;
              margin-top: 20px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }
          }
        </style>
        <style data-mode="MD" data-visited="true">
          @media (max-width: 0px) {
            .u-block-f6bc-1 {
              background-image: none
            }

            .u-block-f6bc-2 {
              min-height: 276px
            }

            .u-block-f6bc-14 {
              background-image: none;
              width: 360px;
              left: 0;
              right: auto
            }

            .u-block-f6bc-3 {
              margin-top: 47px;
              margin-bottom: 47px
            }

            .u-block-f6bc-4 {
              min-height: 100px
            }

            .u-block-f6bc-5 {
              padding-top: 40px;
              padding-bottom: 40px;
              padding-left: 40px;
              padding-right: 40px
            }

            .u-block-f6bc-18 {
              background-image: none;
              width: 328px;
              min-height: 677px;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: auto
            }

            .u-block-f6bc-19 {
              padding-top: 0px;
              padding-bottom: 0px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-20 {
              background-image: none;
              width: 97px;
              height: 97px;
              margin-top: 31px;
              margin-left: auto;
              margin-right: 107px;
              margin-bottom: 0;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-21 {
              font-weight: 700;
              font-size: 1.875rem;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-22 {
              background-image: none;
              height: 351px;
              width: 442px;
              margin-top: 28px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-25 {
              background-image: none
            }

            .u-block-f6bc-28 {
              background-image: none
            }

            .u-block-f6bc-31 {
              background-image: none;
              border-style: none;
              width: 100%;
              padding-top: 10px;
              padding-right: 0;
              padding-bottom: 10px;
              padding-left: 0
            }

            .u-block-f6bc-32 {
              align-self: center;
              border-style: none;
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-33 {
              border-style: none;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-8 {
              min-height: 100px
            }

            .u-block-f6bc-9 {
              padding-top: 30px;
              padding-left: 30px;
              padding-right: 30px;
              padding-bottom: 30px
            }

            .u-block-f6bc-15 {
              margin-top: 0;
              margin-bottom: 0;
              font-family: Anton;
              font-size: 4.5rem
            }

            .u-block-f6bc-16 {
              margin-top: 26px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }

            .u-block-f6bc-17 {
              background-image: none;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 0.875rem;
              letter-spacing: 3px;
              margin-top: 20px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }
          }
        </style>
        <style data-mode="SM" data-visited="true">
          @media (max-width: 0px) {
            .u-block-f6bc-1 {
              background-image: none
            }

            .u-block-f6bc-2 {
              min-height: 1060px
            }

            .u-block-f6bc-14 {
              background-image: none;
              width: 270px;
              left: 0;
              right: auto
            }

            .u-block-f6bc-3 {
              margin-top: 47px;
              margin-bottom: 47px
            }

            .u-block-f6bc-4 {
              min-height: 100px
            }

            .u-block-f6bc-5 {
              padding-top: 50px;
              padding-bottom: 50px;
              padding-left: 50px;
              padding-right: 50px
            }

            .u-block-f6bc-18 {
              background-image: none;
              width: 328px;
              min-height: 677px;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: auto
            }

            .u-block-f6bc-19 {
              padding-top: 0px;
              padding-bottom: 0px;
              padding-left: 10px;
              padding-right: 10px
            }

            .u-block-f6bc-20 {
              background-image: none;
              width: 97px;
              height: 97px;
              margin-top: 31px;
              margin-left: auto;
              margin-right: 114px;
              margin-bottom: 0;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-21 {
              font-weight: 700;
              font-size: 1.875rem;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-22 {
              background-image: none;
              height: 351px;
              width: 442px;
              margin-top: 28px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-25 {
              background-image: none
            }

            .u-block-f6bc-28 {
              background-image: none
            }

            .u-block-f6bc-31 {
              background-image: none;
              border-style: none;
              width: 100%;
              padding-top: 10px;
              padding-right: 0;
              padding-bottom: 10px;
              padding-left: 0
            }

            .u-block-f6bc-32 {
              align-self: center;
              border-style: none;
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-33 {
              border-style: none;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-8 {
              min-height: 100px
            }

            .u-block-f6bc-9 {
              padding-top: 30px;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 30px
            }

            .u-block-f6bc-15 {
              margin-top: 0;
              margin-bottom: 0;
              font-family: Anton;
              font-size: 4.5rem
            }

            .u-block-f6bc-16 {
              margin-top: 26px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }

            .u-block-f6bc-17 {
              background-image: none;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 0.875rem;
              letter-spacing: 3px;
              margin-top: 20px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }
          }
        </style>
        <style data-mode="XS" data-visited="true">
          @media (max-width: 0px) {
            .u-block-f6bc-1 {
              background-image: none
            }

            .u-block-f6bc-2 {
              min-height: 526px
            }

            .u-block-f6bc-14 {
              background-image: none;
              width: 170px;
              left: 0;
              right: auto
            }

            .u-block-f6bc-3 {
              margin-top: 47px;
              margin-bottom: 47px
            }

            .u-block-f6bc-4 {
              min-height: 100px
            }

            .u-block-f6bc-5 {
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 30px;
              padding-right: 30px
            }

            .u-block-f6bc-18 {
              background-image: none;
              width: 320px;
              min-height: 677px;
              margin-top: 0;
              margin-bottom: 0;
              margin-left: auto;
              margin-right: auto
            }

            .u-block-f6bc-19 {
              padding-top: 0px;
              padding-bottom: 0px;
              padding-left: 10px;
              padding-right: 10px
            }

            .u-block-f6bc-20 {
              background-image: none;
              width: 97px;
              height: 97px;
              margin-top: 31px;
              margin-left: auto;
              margin-right: 111px;
              margin-bottom: 0;
              padding-top: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
              padding-right: 20px
            }

            .u-block-f6bc-21 {
              font-weight: 700;
              font-size: 1.5rem;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-22 {
              background-image: none;
              height: 351px;
              width: 320px;
              margin-top: 28px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0
            }

            .u-block-f6bc-25 {
              background-image: none
            }

            .u-block-f6bc-28 {
              background-image: none
            }

            .u-block-f6bc-31 {
              background-image: none;
              border-style: none;
              width: 100%;
              padding-top: 10px;
              padding-right: 0;
              padding-bottom: 10px;
              padding-left: 0
            }

            .u-block-f6bc-32 {
              align-self: center;
              border-style: none;
              margin-top: 30px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-33 {
              border-style: none;
              margin-top: 20px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 0;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0
            }

            .u-block-f6bc-8 {
              min-height: 100px
            }

            .u-block-f6bc-9 {
              padding-top: 40px;
              padding-bottom: 40px;
              padding-left: 10px;
              padding-right: 10px
            }

            .u-block-f6bc-15 {
              margin-top: 0;
              margin-bottom: 0;
              font-family: Anton;
              font-size: 3.75rem
            }

            .u-block-f6bc-16 {
              margin-top: 26px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }

            .u-block-f6bc-17 {
              background-image: none;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 0.875rem;
              letter-spacing: 3px;
              margin-top: 20px;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0
            }
          }
        </style>


  </section>



  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-94e2">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">ICT2509C Project By Farhan 2024.</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <p class="u-text">
      <span>This site was created with the </span>
      <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
        <span>Nicepage</span>
      </a>
    </p>
  </section>

</body>

<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("password2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

function submission()
      {
          // assigning a new URL to window.location.href
          //window.location.href = "/api/home";
          document.getElementById("registerForm").submit();
      }

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

</script>


</html>